# Configuración del Storage Server
STORAGE_URL=http://127.0.0.1:5000/pdf-storage

# Configuración de Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_CLIENT_ID=email-server-python
KAFKA_REQUEST_TOPIC=email-server-requests
KAFKA_REQUEST_TIMEOUT=30000
KAFKA_CONNECTION_TIMEOUT=3000
KAFKA_ENABLED=true
