# === Archivos de Python ===
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.log

# === Entorno y dependencias ===
env/
venv/
ENV/
.venv/
.idea/
.vscode/
*.sqlite3

# === Archivos de configuración sensibles ===
credentials.json
token.json
config.json
*.pem
*.key
*.crt

# === Archivos del sistema ===
.DS_Store
Thumbs.db

# === Archivos ejecutables ===
*.exe
*.bat
*.sh

# === Archivos temporales ===
*.tmp
*.bak
